.Header {
  background-color: #be0000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.Header h1 {
  margin-top: 0px;
  margin-bottom: 5px; /* Adjust the margin bottom as per your preference */
}

.Popup {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .Header-title {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    align-self: center;
    justify-self: center;
    /* margin-left: 70px; 
    color: #495879;
    margin: 10px 0px 10px -80px;
  } */
